@charset "utf-8";
/* CSS Document */
	body {
			background-color: black;
		}
		
	@keyframes gallery {
	0%{ background-image: url("../images/1.jpg");
	background-repeat: no-repeat;
		background-size: contain;
	}
	10%{background-image: url("../images/2.jpg");
	background-repeat: no-repeat;
		background-size: contain;
	}
	20%{background-image: url("../images/3.jpg");
	background-repeat: no-repeat;
		background-size: contain;
	}
	30%{background-image: url("../images/4.jpg");
	background-repeat: no-repeat;
		background-size: contain;
	}
	40%{background-image: url("../images/5.jpg");
	background-repeat: no-repeat;
		background-size: contain;
	}
	50%{background-image: url("../images/6.jpg");
	background-repeat: no-repeat;
		background-size: contain;
	}
	60%{background-image: url("../images/7.jpg");
	background-repeat: no-repeat;
		background-size: contain;
	}
	70%{background-image: url("../images/8.jpg");
	background-repeat: no-repeat;
		background-size: contain;
	}
	80%{background-image: url("../images/9.jpg");
	background-repeat: no-repeat;
		background-size: contain;
	}
	90%{background-image: url("../images/10.jpg");
	background-repeat: no-repeat;
		background-size: contain;
	}
    100%{background-image: url("../images/1.jpg");
	background-repeat: no-repeat;
		background-size: contain;
	}
}
#gallery-container {
	width: 900px;
	height: 800px;
	background-image: url("../images/1.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	animation-name:gallery;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	margin: auto;
	margin-top: 200px;
}
#song {
	visibility: hidden;
}
